$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $lg) and (max-width: $xl - 1px) {
    @content;
  }
}

@mixin md {
  @media (min-width: $md) and (max-width: $lg - 1px) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $sm) and (max-width: $md - 1px) {
    @content;
  }
}

@mixin xs {
  @media (max-width: $sm - 1px) {
    @content;
  }
}

@mixin max-xl {
  @media (max-width: $xl) {
    @content;
  }
}

@mixin min-lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin min-sm {
  @media (min-width: $sm) {
    @content;
  }
}
